// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
// Copyright (C) 2022 Arm Ltd.
/*
 * Common peripherals and configurations for JPTK T113 boards.
 */

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/leds/common.h>

/ {
	aliases {
		serial4 = &uart4;
	};

	chosen {
		stdout-path = "serial4:115200n8";
	};

	/* board wide 5V supply directly from the USB-C socket */
	reg_vcc5v: regulator-5v {
		compatible = "regulator-fixed";
		regulator-name = "vcc-5v";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
	};

	/* RY1303 3v3 rail */
	reg_3v3: regulator-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc-3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&reg_vcc5v>;
	};

	/* RY1303 1v5 rail */
	reg_dram: regulator-dram {
		compatible = "regulator-fixed";
		regulator-name = "vcc-dram";
		regulator-min-microvolt = <1500000>;
		regulator-max-microvolt = <1500000>;
		vin-supply = <&reg_vcc5v>;
	};

	/* RY1303 0v9 rail */
	reg_vcc_core: regulator-core {
		compatible = "regulator-fixed";
		regulator-name = "vcc-core";
		regulator-min-microvolt = <900000>;
		regulator-max-microvolt = <900000>;
		vin-supply = <&reg_vcc5v>;
	};

	/* TPS6220 1v8 rail */
	reg_1v8: regulator-core {
		compatible = "regulator-fixed";
		regulator-name = "vcc-1v8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&reg_vcc5v>;
	};
};

&dcxo {
	clock-frequency = <24000000>;
};

&ehci1 {
	status = "okay";
};

&mmc0 {
	pinctrl-0 = <&mmc0_pins>;
	pinctrl-names = "default";
	vmmc-supply = <&reg_3v3>;
	disable-wp;
	broken-cd;
	bus-width = <4>;
	status = "okay";
};

&ohci1 {
	status = "okay";
};

&pio {
	vcc-pb-supply = <&reg_3v3>;
	vcc-pd-supply = <&reg_3v3>;
	vcc-pf-supply = <&reg_3v3>;
	vcc-pg-supply = <&reg_3v3>;
	
	/omit-if-no-ref/
	uart4_pb_pins: uart4-pb-pins {
		pins = "PB2", "PB3";
		function = "uart4";
	};

	rmii_pg_pins: rmii-pg-pins {
		pins = "PG0", "PG1", "PG2", "PG3", "PG4",
		       "PG5", "PG12", "PG13", "PG14", "PG15";
		function = "emac_pg";
	};
};

&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart4_pb_pins>;
	status = "okay";
};

&usb_otg {
	dr_mode = "peripheral";
	status = "okay";
};

&usbphy {
	usb1_vbus-supply = <&reg_vcc5v>;
	status = "okay";
};

&spi0 {
    pinctrl-names = "default";
    pinctrl-0 = <&spi0_pins>;
    status = "okay";

    nand@0 {
        compatible = "spi-nand";

        reg = <0>;
        spi-max-frequency = <50000000>;

        spi-rx-bus-width = <1>;
        spi-tx-bus-width = <1>;

        partitions {
            compatible = "fixed-partitions";
            #address-cells = <1>;
            #size-cells = <1>;

            bootloader@0 {
                label = "bootloader";
                reg = <0x00000000 0x00200000>; /* 2 MiB */
                read-only;
            };

            env@200000 {
                label = "uboot-env";
                reg = <0x00200000 0x00080000>; /* 512 KiB */
            };

            rootfs@280000 {
                label = "rootfs";
                reg = <0x00280000 0x07d80000>; /* rest of device */
            };
        };
    };
};

&emac {
	pinctrl-names = "default";
	pinctrl-0 = <&rmii_pg_pins>;
	status = "okay";
	phy-mode = "rmii";
	phy-handle = <&ksz8081>;

	local-mac-address = [ 02 12 34 56 78 9a ];
};

&mdio {
	ksz8081: ethernet-phy@0 {
		reg = <0>; // Connected to PG0. KSZ8081 has internal pull-down, so this is 0.
	};
};
